
/* https://www.w3schools.com/cssref/css_selectors.asp */

body {background-color:yellow}

.RedItalic {font-style: italic; color: red;}

h3 , p {font-family: 'Lucida Sans', sans-serif;}

div.RedItalic h3 {background-color: cyan;}

