
/* https://www.w3schools.com/cssref/css_selectors.asp */

body {background-color:yellow}

.RedItalic {font-style: italic; color: red;}

.Times {font-family: 'Times New Roman', Times, serif;}

h3 , p {
    color: green; 
    font-family: 'Lucida Sans', sans-serif;
}

div.RedItalic h3:hover {background-color: cyan;}

label, legend {font-style: italic; color: red; font-family: 'Lucida Sans', sans-serif;}

